@page
@model ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">

                        <div class="mb-md-4 mt-md-4 pb-4">
                            <h2 class="fw-bold mb-2 text-uppercase">Forgot Password</h2>
                            <p class="text-white-50 mb-5">Enter your email to reset your password</p>

                            <!--  Form starts here -->
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <!-- Email -->
                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label text-white"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <!-- Submit -->
                                <button type="submit" class="btn btn-outline-light btn-lg px-5 w-100">Reset Password</button>
                            </form>
                            <!--  End of Form -->
                        </div>

                        <div>
                            <p class="mb-0">
                                Remembered your password?
                                <a asp-page="./Login" class="text-white-50 fw-bold">Back to Login</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
