@model MohammedPortfolio.Models.Category
@{
    ViewData["Title"] = " Create Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="section">
    <div class="container">
        <h2 class="mb-4">Add New Category</h2>

        <form asp-action="CreateCategroy" method="post" >

            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Add Category
            </button>

            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}